/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f0ffff;
}
::-webkit-scrollbar-thumb {
    background: #0f3649;
}
/* scrollbar */

/* text color */
.text-info {
    color: #24b9cc !important;
}
.text-dark {
    color: #0f3649 !important;
}
/* text color */

/* background color */
.bg-info {
    background-color: #24b9cc !important;
}
.bg-dark {
    background-color: #0f3649 !important;
}
.bg-azure {
    background-color: #f0ffff;
}
/* background color */

/* card scale hover */
.card-pop {
    transition: transform 0.3s ease;
}
.card-pop:hover {
    transform: scale(1.05);
}
/* card scale hover */

/* button */
.btn-info {
    background-color: #24b9cc;
    border-radius: 5px;
    border: 0;
}
.btn-info:hover {
    background-color: #1393a3;
    border-radius: 5px;
    border: 0;
}
/* button */

/* modal */
.modal-content {
    border-radius: 0;
}
/* modal */
